In [1]:
import mysql.connector

In [2]:
cnx = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="Sergiu2019-@")

In [3]:
cur = cnx.cursor()

In [4]:
cur.execute("SHOW DATABASES")

In [5]:
for db in cur:
    print(db)

('angajati',)
('baza_de_date_1',)
('baza_de_date_2',)
('baza_de_date_3',)
('baza_de_date_4',)
('facultate',)
('geografie',)
('information_schema',)
('masini furate',)
('mydb',)
('mysql',)
('online_store',)
('performance_schema',)
('personal',)
('python_created_db',)
('sys',)
('universitate',)
('vremea',)

In [6]:
cur.execute("USE universitate")

In [7]:
cur.execute('INSERT INTO profesor SET nume = "Guido", prenume = "Van Rossum", data_nasterii = "1956-01-31", adresa = 1')

In [8]:
cur.execute("SELECT * FROM profesor")
for profesor in cur:
    print(profesor)

(1, 'Popescu', 'Gica', 1, datetime.date(1964, 2, 1), 'I')
(2, 'Marin', 'Andreea', 1, datetime.date(1989, 12, 30), 'II')
(3, 'Florescu', 'Florina', 1, datetime.date(1989, 12, 10), 'II')
(4, 'Ionescu', 'Ioan', 1, datetime.date(1969, 12, 9), 'III')
(5, 'Marinescu', 'Marin', 1, datetime.date(1990, 10, 30), 'II')
(6, 'Baturalp', 'Ece', 1, datetime.date(1968, 1, 7), 'I')
(7, 'Haegele', 'Kaete', 1, datetime.date(1985, 4, 14), 'I')
(8, 'Vernekar', 'Baljiwan', 1, datetime.date(1948, 3, 7), 'I')
(9, 'Wilson', 'Isabella', 1, datetime.date(1988, 5, 13), 'I')
(10, 'Yanovich', 'Ievfrosiniya', 1, datetime.date(1950, 12, 30), 'I')
(11, 'da Rocha', 'Acilino', 1, datetime.date(1946, 5, 23), 'I')
(12, 'Hieber', 'Margrit', 1, datetime.date(2000, 7, 12), 'I')
(13, 'Macdonald', 'Brielle', 1, datetime.date(1984, 12, 20), 'I')
(14, 'Rajala', 'Matilda', 1, datetime.date(1961, 8, 13), 'I')
(15, 'Nielsen', 'Freja', 1, datetime.date(1994, 6, 14), 'I')
(16, 'Guido', 'Van Rossum', 1, datetime.date(1956, 1, 31), 'I')

In [9]:
cnx.commit()